name: spotube
services:
  spotube:
    image: lscr.io/linuxserver/spotube:latest
    container_name: spotube
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /home/virajs-server/docker/spotube/data/config:/config
    # ports:
    #   - ${SPOTUBE_PORT_1}:3000
    #   - ${SPOTUBE_PORT_2}:3001
    shm_size: "1gb"
    restart: unless-stopped
    networks:
      - nginx
networks:
  nginx:
    external: true    