name: nextcloud
services:
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /home/virajs-server/docker/nextcloud/config:/config
      - /home/virajs-server/docker/nextcloud/data:/data
    ports:
      - ${NEXTCLOUD_PORT}:443
    restart: unless-stopped
    networks:
      - nginx

networks:
  nginx:
    external: true 