services:
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config:/config
      - ./data:/data
    ports:
      - ${NEXTCLOUD_PORT}:443
    restart: unless-stopped
    networks:
      - caddy

networks:
  caddy:
    external: true 