services:
  excalidraw:
    image: excalidraw/excalidraw:latest
    container_name: excalidraw
    ports:
      - "${EXCALIDRAW_PORT}:80"
    restart: unless-stopped
    networks:
      - caddy

networks:
  caddy:
    external: true 