services:
  metube:
    image: ghcr.io/alexta69/metube
    container_name: metube
    restart: unless-stopped
    ports:
      - "${METUBE_PORT}:8081"
    volumes:
      - ./data/downloads:/downloads
    networks:
      - caddy
networks:
  caddy:
    external: true      