name: jellyfin
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: ${PUID}:${PGID}
    restart: "no"
    # ports:
    #   - ${JELLYFIN_PORT_1}:8096/tcp
    #   - ${JELLYFIN_PORT_2}:7359/udp
    volumes:
      - /home/virajs-server/docker/jellyfin/data/config:/config
      - /home/virajs-server/docker/jellyfin/data/cache:/cache
      - type: bind
        source: /home/virajs-server/docker/jellyfin/data/media
        target: /media
      - type: bind
        source: /home/virajs-server/docker/jellyfin/data/media2
        target: /media2
        read_only: true
      - type: bind
        source: /home/virajs-server/docker/jellyfin/data/fonts
        target: /usr/local/share/fonts/custom
        read_only: true
    environment:
      - JELLYFIN_PublishedServerUrl=${JELLYFIN_PublishedServerUrl}
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    networks:
      - nginx
networks:
  nginx:
    external: true
