name: jellyfin
services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      # - JELLYFIN_PublishedServerUrl=http://192.168.0.5 #optional
    volumes:
      - /home/virajs-server/docker/jellyfin/library:/config
      - /home/virajs-server/docker/jellyfin/tvseries:/data/tvshows
      - /home/virajs-server/docker/metube/data/downloads:/data/movies
    # ports:
    #   - 8096:8096
    #   - 8920:8920 #optional
    #   - 7359:7359/udp #optional
    #   - 1900:1900/udp #optional
    restart: "no"
    networks:
      - nginx
networks:
  nginx:
    external: true
