name: vikunja
services:
  vikunja:
    image: vikunja/vikunja
    environment:
        VIKUNJA_SERVICE_PUBLICURL: ${VIKUNJA_SERVICE_PUBLICURL}
        VIKUNJA_DATABASE_HOST: ${VIKUNJA_DATABASE_HOST}
        VIKUNJA_DATABASE_PASSWORD: ${VIKUNJA_DATABASE_PASSWORD}
        VIKUNJA_DATABASE_TYPE: ${VIKUNJA_DATABASE_TYPE}
        VIKUNJA_DATABASE_USER: ${VIKUNJA_DATABASE_USER}
        VIKUNJA_DATABASE_DATABASE: ${VIKUNJA_DATABASE_DATABASE}
        VIKUNJA_SERVICE_JWTSECRET: ${VIKUNJA_SERVICE_JWTSECRET}
    # ports:
    #     - ${VIKUNJA_PORT}:3456
    volumes:
        - /home/virajs-server/docker/vikunja/data/files:/app/vikunja/files
    depends_on:
        db:
            condition: service_healthy
    restart: unless-stopped
  db:
    image: postgres:18
    environment:
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_USER: ${POSTGRES_USER}

    volumes:
        - /home/virajs-server/docker/vikunja/data/db:/var/lib/postgresql
    restart: unless-stopped
    healthcheck:
        test: ["CMD-SHELL", "pg_isready -h localhost -U $$POSTGRES_USER"]
        interval: 2s
        start_period: 30s
    networks:
      - nginx
networks:
  nginx:
    external: true