services:
    changedetection:
      image: ghcr.io/dgtlmoon/changedetection.io
      container_name: changedetection
      hostname: changedetection
      volumes:
        - ./data:/datastore
      ports:
        - 127.0.0.1:${CHANGEDETECTION_PORT}:5000
      restart: unless-stopped
    networks:
      - caddy

networks:
  caddy:
    external: true 