name: vaultwarden
services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      DOMAIN: "https://vaultwarden.viraj.top"
    volumes:
      - ./vw-data/:/data/
    # ports:
    #   - 1000:80
    networks:
      - nginx
networks:
  nginx:
    external: true