name: karakeep
services:
  web:
    image: ghcr.io/karakeep-app/karakeep:${KARAKEEP_VERSION:-release}
    restart: unless-stopped
    volumes:
      - /home/virajs-server/docker/karakeep/data:/data
    # ports:
    #   - ${KARAKEEP_PORT}:3000
    env_file:
      - .env
    environment:
      MEILI_ADDR: ${MEILI_ADDR}
      BROWSER_WEB_URL: ${BROWSER_WEB_URL}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      DATA_DIR: ${DATA_DIR}
    networks:
      - nginx      
  chrome:
    image: gcr.io/zenika-hub/alpine-chrome:124
    restart: unless-stopped
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars
    networks:
      - nginx      
  meilisearch:
    image: getmeili/meilisearch:v1.13.3
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MEILI_NO_ANALYTICS: "true"
    volumes:
      - /home/virajs-server/docker/karakeep/data/meilisearch:/meili_data
    networks:
      - nginx

networks:
  nginx:
    external: true 