# Environment variables

PUID=1000
PGID=1000
TZ=Asia/Kolkata
APP_KEY= "base64:HhypJCAGzAtQzHp5tNPcUe9thkdj/ztY5cj2WCYEy9o=" 
APP_URL= https://speedtest.viraj.top
DB_CONNECTION=sqlite
SPEEDTEST_SCHEDULE=0 * * * * # Speed test scheduled for every 10mins
SPEEDTEST_SERVERS=
DISPLAY_TIMEZONE=Asia/Kolkata

# Ports
SPEEDTEST_PORT=80
