name: ntfy
services:
  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    command:
      - serve
    environment:
      - TZ=${TZ}   
    user: ${PUID}:${PGID} 
    volumes:
      - /home/virajs-server/docker/ntfy/data/var/cache/ntfy:/var/cache/ntfy
      - /home/virajs-server/docker/ntfy/data/etc/ntfy:/etc/ntfy
    # ports:
    #   - ${NTFY_PORT}:80
    healthcheck: 
        test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:1015/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
        interval: 60s
        timeout: 10s
        retries: 3
        start_period: 40s
    restart: unless-stopped
    init: true # needed, if healthcheck is used. Prevents zombie processes
    networks:
      - nginx

networks:
  nginx:
    external: true 